// region flex box

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.vertical-center {
    align-items: center;
}

.horizontal-center {
    justify-content: center;
}

// endregion flex box

.c-pointer {
    cursor: pointer;
}